body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Ariel', sans-serif;
    background-color: aqua;
    overflow: hidden;
}
.calender_container{
    position: relative;
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 20px;
}
.month-name{
    margin: 0;
    background-color: rgb(127, 255, 144);
    color: rgb(22, 4, 4);
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    font-size: 20px;
    color: darkgrey;

}
.day-num{
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}
.year{
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}
.clock{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10%;
    font-weight: bold;
    
}
.clock div{
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clock span{
    width: 40px;
    height: 20px;
    display: flex;
    font-size: 20px;
    background-color: rgb(127, 255, 144);
    color: rgb(22, 4, 4);
    padding: 1px 1%;
    border-radius: 5px;

    
}
.clock#ampm{
    font-size: 10px;
    padding: 5px 5px;
    align-self: flex-end;
    margin-bottom: 1px;
    bottom: absolute;
    width: 40px;
    height: 20px;;
}
.clock.text{
    font-size: 10px;
    align-self: flex-start;
    margin-top: 1px;
    text-transform: uppercase;
}
.clock#ampm.text{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 20px;
}
